#wrapper {
  clear: both;
  width: 100%;
}
.left-bar {
  width: 300px;
  float: left;
  padding: 5px;
  border: 2px solid black;
  display: block;
}
.main-bar {
  padding: 5px;
  margin: 5px;

  overflow: hidden;
}
.filter {
  height: 100px;
  overflow: auto;
  margin-bottom: 15px;
}
.borders {
  border: 2px solid black;
  margin-bottom: 15px;
  margin-top: 15px;
  padding: 3px;
}
button {
  width: 100%;
}
